# Optionale Beispielwerte, falls du die festen Werte in portainer-stack.yml
# durch Variablen ersetzen moechtest.

ADMIN_NAME=admin
ADMIN_EMAIL=admin@printer-farm.local
ADMIN_PASSWORD=admin123456

# Standardpfad auf Synology.
PFA_DATA_DIR=/volume1/docker/printer-farm-admin/data

# Host-Port auf der Synology. Intern nutzt die App Port 3000.
PFA_HTTP_PORT=3010
